<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Surat Tugas</title>
<style type="text/css">
<!--
.style1 {font-size: 18px;
	font-weight: bold;
}
.style4 {font-size: 36px;
	font-weight: bold;
}
.style6 {font-size: 14px}
.style11 {font-size: 14pt; font-weight: bold; }
.style12 {font-size: 10pt}
.style13 {font-size: 14pt}
-->
</style>
</head>
<body>
<table width="935" border="0">
  <tr>
    <td width="96" rowspan="3" valign="top"><div align="center"><img src="{{ url('img/logo.png') }}" alt="kop" width="94" height="106" /></div></td>
    <td width="737" valign="bottom"><div align="center"><span class="style1">PEMERINTAH KABUPATEN PURWOREJO</span></div></td>
    <td width="88" valign="bottom"><div align="center"></div></td>
  </tr>
  <tr>
    <td valign="top"><div align="center"><span class="style4">SEKRETARIAT DAERAH</span></div></td>
    <td valign="top"><div align="center"></div></td>
  </tr>
  <tr>
    <td valign="top"><div align="center" class="style12">Jl. Proklamasi No. 2 Purworejo Kode Pos 54111 Telp : (0275)321012&nbsp;Psw. 315-317&nbsp;Fax: (0275) 322791, E-mail: setda@purworejokab.go.id, Website: www.setda.purworejokab.go.id</div></td>
    <td height="38" valign="top">&nbsp;</td>
  </tr>
</table>
<table width="831" border="0">
  <tr>
    <td width="825" height="10"><img src="{{ url('img/LINE.png') }}" alt="s" width="820" height="4" /></td>
  </tr>
</table>
<table width="934" border="0">
  <tr>
    <td width="95">&nbsp;</td>
    <td width="735">&nbsp;</td>
    <td width="90">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"><span class="style11">SURAT&nbsp; PERINTAH&nbsp; TUGAS</span></div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div align="center"><span class="style13">No :&nbsp; 084 /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; / 2022</span></div></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="933" border="0">
  <tr>
    <td width="82"><span class="style6"><span class="style11">Dasar</span></span></td>
    <td width="10" valign="top"><div align="justify"><span class="style6"><span class="style11">:</span></span></div></td>
    <td width="20" valign="top"><div align="justify"><span class="style6"><span class="style13">1.</span></span></div></td>
    <td width="803" valign="top"><div align="justify"><span class="style13">DPA NO : DPPA / B.1 /    2.18.0.00.0.00.01.0000 / 001 / 2022 tanggal 30 September 2022</span></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td valign="top"><div align="justify"></div></td>
    <td valign="top"><div align="justify"><span class="style6"><span class="style13">2.</span></span></div></td>
    <td valign="top"><div align="justify"><span class="style13">Surat dari Sekretariat    Daerah Tanggal 6 Desember 2022 Nomor 005/15.659 Perihal Undangan</span></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4"><div align="center"><span class="style11">MENUGASKAN</span></div></td>
  </tr>
</table>
<table width="934" border="0">
  <tr>
    <td width="79">&nbsp;</td>
    <td width="9">&nbsp;</td>
    <td width="165">&nbsp;</td>
    <td width="10" class="style13">&nbsp;</td>
    <td width="649">&nbsp;</td>
  </tr>
  <tr>
    <td><span class="style11">Kepada</span></td>
    <td><span class="style13"><strong>:</strong></span></td>
    <td class="style13"><span class="style13">Nama</span></td>
    <td class="style13"><span class="style13">:</span></td>
    <td>AGUNG WIBOWO, AP.,MM </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="style13"><span class="style13">N  I  P</span></td>
    <td class="style13"><span class="style13">:</span></td>
    <td>197403081993111002</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="style13"><span class="style13">Pangkat/Golongan</span></td>
    <td class="style13"><span class="style13">:</span></td>
    <td>PEMBINA UTAMA MUDA / IV c </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="style13"><span class="style13">Jabatan</span></td>
    <td class="style13"><span class="style13">:</span></td>
    <td>KEPALA DINAS </td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
